$white-primary: #fff;
$black-primary: #000;
$text-primary-color: #f2f2f3;
$text-secondary-color: #8585ad;
$text-disabled-color: #3a3a55;

$interface-bg-color: #131316;
$interface-modal-bg-color: #1c1c21;
$interface-modal-edge-color: rgba(76, 76, 255, 0.2);
$interface-accent-color: #4c4cff;
$interface-success-color: #0cc;
$interface-error-color: #e52b1a;
$interface-input-color: #2f2f37;

$button-normal-color: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
$button-active-color: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .4)), linear-gradient(63.18deg, #801ab3 0, #4c4cff 100%);

$number-text-shadow: 0 0 1.6rem rgba(51, 51, 255, 0.25), 0 0 .8rem rgba(51, 51, 255, 0.25), 0 .4rem 3.2rem rgba(51, 51, 255, 0.5);

$height-navigation-menu-desktop: 8.8rem;
$height-navigation-menu-mobile: 6.4rem;

$large-desktop: 1440px;
$medium-desktop: 1920px;
$small-desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$large-mobile: 425px;
$medium-mobile: 375px;
$small-mobile: 320px;