.root {
  max-height: calc(100vh - 28.4rem);;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--text-secondary-color) var(--interface-input-color);
}

.root::-webkit-scrollbar {
  width: .8rem;
}

.root::-webkit-scrollbar-track {
  background: var(--interface-input-color);
  margin-bottom: 5.2rem;
}

.root::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary-color);
}

.title {

}

.data {
  display: grid;
  grid-template-columns: repeat(2, 27.2rem);
  grid-auto-rows: 20.8rem;
  row-gap: 3.2rem;
  column-gap: 2.4rem;
  justify-items: center;
}
