@import '../../assets/scss/variables.module.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 12rem 0;
}

.orderNumber {
  text-shadow: $number-text-shadow;
  margin-bottom: 2.4rem;
}

.text {
  margin-bottom: .8rem;
}

.done {
  width: 12rem;
  height: 12rem;

  margin: 6rem 0;
}
