.root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  position: relative;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  background-color: var(--button-active-color);
  border-radius: 100%;
  animation: rotate 1s infinite linear;
}

.circleGradient {
  position: absolute;
  width: 12rem;
  height: 12rem;

  top: -7.2rem;
  left: 1.8rem;
  background-color: var(--button-active-color);
  background-image: -moz-linear-gradient(0deg, #801AB2 0%, #131316 50%);
  background-image: -webkit-linear-gradient(0deg, #801AB2 0%, #131316 50%);
  background-image: linear-gradient(0deg, #801AB2 0%, #131316 50%);
  transform: rotate(-45deg);
}

.circleInner {
  position: absolute;
  width: 12rem;
  height: 12rem;
  transform: translate(-50%, -50%);

  top: 50%;
  left: 50%;
  background-color: var(--interface-bg-color);
  border-radius: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
