.root {
  position: relative;

  width: 72rem;
  background-color: var(--interface-modal-bg-color);
  border-radius: 4rem;
}

.closeButton {
  position: absolute;
  top: 6rem;
  right: 4rem;

  transition: opacity linear .2s;
}

.closeButton:hover {
  opacity: 80%;
  cursor: pointer;
}
