@import '../../assets/scss/variables.module';

.root {
  composes: root from '../Login/LoginPage.module.scss';
  composes: animation from '../BasePage.module.scss';
}

.title {
  composes: title from '../Login/LoginPage.module.scss';
}

.form {
  composes: form from '../Login/LoginPage.module.scss';
}

.anotherVariants {
  composes: anotherVariants from '../Login/LoginPage.module.scss';
}

.anotherVariantText:not(:last-child) {
  margin-bottom: 2rem;
}

.anotherVariantLink {
  composes: anotherVariantLink from '../Login/LoginPage.module.scss';
}
