.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 4rem;
  margin-bottom: 6rem;
}

.root_big {
  margin-top: 12rem;
}

.title {
  display: flex;
  align-items: center;
  align-self: flex-start;

  margin-left: 4rem;
  height: 6.4rem;
}

.title_big {
  margin: 0;
  align-self: center;

}

.image {
  width: 48rem;
  height: 24rem;

  margin: 0 2rem 0;
}

.description {
  display: block;

  margin: 1.6rem 0 3.2rem;
}

.values {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 39rem;

  display: flex;
  gap: 2rem;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typeText {
  display: block;

  margin-bottom: .8rem;
}

.valueText {
  display: block;
}
