@import '../../assets/scss/variables.module.scss';

.root {
  margin-top: 10rem;

  &_mobile {
    display: block;
  }
}

.rootFooter {
  &_mobile {
    background-color: $interface-modal-bg-color;
    border-radius: 1.5rem 1.5rem 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1.6rem .8rem;

    gap: 1.6rem;

    position: relative;
    z-index: 10;
  }
}

.rootExpandedMenu {
  &_mobile {
    width: 100%;
    height: 100vh;
    background-color: $interface-bg-color;

    position: absolute;
    top: 0;
    left: 0;
  }
}

.expandedMenu {
  &__header {
    &_mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1.6rem .8rem 1.6rem;
    }
  }

  &__title {
    &_mobile {
      display: block;
    }
  }
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 1.2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  max-height: calc(100vh - 54rem);

  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: $text-secondary-color $interface-input-color;

  &_mobile {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;

    max-height: calc(100% - 13.2rem);
  }

  &::-webkit-scrollbar {
    width: .8rem;
    background: $interface-input-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $text-secondary-color;
  }
}

.dropTarget {
  border: .4rem transparent solid;
}

.dropTargetIsOverIngredient {
  border: .4rem $text-primary-color dashed;
  transition: border .5s ease-in-out;
}

.dropTargetIsOverTopBun {
  border-radius: var(--top-constructor-item-border-radius);
  composes: dropTargetIsOverIngredient;
}

.dropTargetIsOverBottomBun {
  border-radius: var(--bottom-constructor-item-border-radius);
  composes: dropTargetIsOverIngredient;
}

.constructorElement {
  display: block;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin: 4rem 1.6rem 0 0;
}

.priceBlock {
  display: flex;
  align-items: center;

  margin-right: 4rem;
  min-height: 6.4rem;

  &_mobile {
    display: flex;
    gap: .8rem;
  }
}

.price {
  margin-right: .8rem;

  &_mobile {
    min-width: 6rem;
    text-align: right;
  }
}

.infoMessage {
  text-align: center;
  margin: 1.6rem 0 1.6rem 1.6rem;

  &_mobile {
    composes: infoMessage;
  }
}

.icon {
  width: 3.6rem;
  max-height: 3.6rem;

  &_mobile {
    width: 2.4rem;
    max-height: 2.4rem;
  }
}

.icon > svg {
  width: 100%;
  height: 100%;
}

.icon_mobile > svg {
  width: 100%;
  height: 100%;
}
