.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  width: 100%;
  height: calc(100% - 25rem);

  composes: animation from '../BasePage.module.scss';
}

.errorText {
  text-align: center;
  margin-top: 2rem;
}
